<!DOCTYPE html>

  <body>
    <section class="todoapp">
   			<header class="header">
   				<h1>Your lists</h1>
          <%= form_for(@list) do |f| %>
            <%= f.text_field :name, placeholder: 'Add a new list', class:"new-todo", autofocus: "" %>
          <% end %>

   			</header>

   			<section class="main" >
          <ul class = "todo-list">
            <% sorted_lists = @lists.sort_by{|list| list.created_at}.reverse %>
            <% sorted_lists.each do |list| %>
            <li>
              <div class = "view">
                <label><%= link_to list.name, list_path(list.id) %></label>
              </div>
            </li>
            <% end %>
          </ul>
   			</section>

   			<footer class="footer" >
     			</footer>
   		</section>

  </body>
</html>
