<!DOCTYPE html>

<section class="todoapp">
    <header class="header">
        <h1><%= @list.name%></h1>
        <input class="new-todo" placeholder="Add an item" autofocus="">
    </header>

    <section class="main" >
        <ul class = "todo-list">
            <li>
                <div class = "view">
                    <label>Ice cream</lable>
                </div>
            </li>

            <li>
                <div class = "view">
                    <label>cookies</lable>
                </div>
            </li>

            <li>
                <div class = "view">
                    <label>Milk</lable>
                </div>
            </li>

        </ul>
    </section>

    <footer class="footer" >
    </footer>
</section>
